@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply flex h-full max-h-full w-screen flex-col overflow-hidden bg-zinc-900 text-white;
}

html,
#root {
	@apply h-full max-h-full w-screen;
}

@layer components {
	.gbtn {
		@apply rounded border border-zinc-200 px-3 py-2 font-bold;
	}
	.btn {
		@apply rounded border border-zinc-200 bg-zinc-200 px-3 py-2 font-bold text-zinc-800;
	}
}

em-emoji-picker {
	--background-rgb: 39, 39, 42;
	--border-radius: 12px;
	--category-icon-size: 20px;
	--color-border-over: rgba(0, 0, 0, 0.1);
	--color-border: rgba(0, 0, 0, 0.05);
	--font-size: 16px;
	--rgb-accent: 255, 255, 255;
	--rgb-background: 39, 39, 42;
	--rgb-color: 161, 161, 170;
	--rgb-input: 39, 39, 42;

	height: 50vh;
	min-height: 400px;
	max-height: 800px;
}
